/*Default background and font*/
body {
  font: 18px/30px Sans-serif;
  background-color: #9C9C9C;
  background-size: cover;
}

/*vh correspons to viewport height*/
section {
  overflow: hidden;
  height: 100vh;
}

/*Golden Section*/
#golden {
  background: url("./assets/golden_view_bw.jpg");
  background-size: cover;
}
#golden h1 {
  margin: 0 auto;
  font-weight: bold;
  color: #fff; 
}
#golden footer {
  position: absolute;
  bottom: 10%;
  width: 100%;
/*  Applies a gradient to the background*/
  background-color: rgba(0, 0, 0, .5);
}
#golden footer ul {
  list-style: none;
  width: 100%;
  /*Margin and Padding set to 0 is required for fitting to image*/
  margin: 0px;
  padding: 0px; 
}
#golden footer ul li {
  display: inline-block;
  margin-right: 10%;
}
/*Resize footer logos to match text*/
#golden footer img {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-bottom: 5px;
}
#golden a {
  color: #fff;
  text-decoration: none;
}

/*McGill Section*/
#mcgill {
  background: url("./assets/mcgill_winter_bw.jpg");
  background-size: cover;
}

/*UCLA Section*/
#ucla {
  background: url("./assets/ucla_campus_bw.jpg");
  background-size: cover;
}