/*Add custom font*/
@font-face {
font-family: 'nexa-light';
src: url("assets/fonts/nexa/Nexa Light.otf");
}
@font-face {
font-family: 'nexa-bold';
src: url("assets/fonts/nexa/Nexa Bold.otf");
}

/*Default background and font*/
body {
  overflow: hidden;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: nexa-light;
  font: 18px/30px;
}

/*Overlap the input and the link*/
.main-container > input,
.main-container > a {
  position: fixed;
  bottom: 0px;
  width: 20%;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
}

/*Specifically edit the name input and link*/
.main-container > input#name,
.main-container > a#name {
  position: fixed;
  bottom: 0px;
  width: 30%;
  cursor: pointer;
  font-size: 30px;
  height: 45px;
  line-height: 45px;
  color: #B22222;
  
}

/*Make the radio button invisible and on top of link*/
.main-container > input {
	opacity: 0;
	z-index: 1000;
}
/*Set specific properties of links*/
.main-container > a {
	z-index: 10;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	text-align: center;
    text-decoration: none;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
}
/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.main-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 45px;
	background: rgba(0, 0, 0, 0.4);
	z-index: 9;
	bottom: 0;
}

/*Position the different controls*/
#name, #name + a {
	left: 0%;
}
#control-2, #control-2 + a {
	left: 40%;
}
#control-3, #control-3 + a {
	left: 60%;
}

/*Set "selected" state for link elements*/
.main-container > input:checked:not(#name) + a,
.main-container > input:checked:hover:not(#name) + a{
	background: rgba(0, 0, 0, .7);
}

/*Define hover state for link element*/
.main-container > input:hover:not(#name) + a{
	background: rgba(0, 0, 0, .7);
}
.main-container > input:hover:not(#name) + a:after:not(#name) {
	border-bottom-color: rgba(0, 0, 0, .7);
}

/*Set properties of scoll and panel*/
.main-scroll,
.panel {
	position: relative;
	width: 100%;
	height: 100%;
}

/*Animate the transform property value to the correct position*/
.main-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

/*Set the positions for the scroll rapper for each radio button*/
#control-1:checked ~ .main-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#control-2:checked ~ .main-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#control-3:checked ~ .main-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

/*Heading placed in center of screen with negative margin for pull up effect*/
.panel h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    position: absolute;
    font-size: 54px;
    font-weight: 900;
    width: 80%;
    left: 10%;
    background-color: rgb(0,0,0,0.3);
    text-align: center;
    line-height: 50px;
    margin: -70px 0 0 0;
    padding: 0;
    top: 50%;
    -webkit-backface-visibility: hidden;
}

/*Run an animation on the heading - uses general sibling combinator*/
#control-1:checked ~ .main-scroll #golden-panel h2,
#control-2:checked ~ .main-scroll #mcgill-panel h2,
#control-3:checked ~ .main-scroll #ucla-panel h2 {
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/*Set the paragraph also in the center*/
.panel p {
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 50%;
    margin: 10px 0 0 0;
    -webkit-backface-visibility: hidden;
}

/*Animations for paragraph on opening*/
#control-1:checked ~ .main-scroll #golden-panel p,
#control-2:checked ~ .main-scroll #mcgill-panel p,
#control-3:checked ~ .main-scroll #ucla-panel p {
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/*Add specific backgrounds for the different panels*/
.golden {
  background: url("./assets/images/golden_view.jpg");
  background-size: cover;
}

.mcgill {
  background: url("./assets/images/mcgill_winter.jpg");
  background-size: cover;
}

.ucla {
  background: url("./assets/images/ucla_campus.jpg");
  background-size: cover;
}

#home-header {
  color: #fff;
}

.content-header {
  background-color: rgba(0,0,0,0.0);
  padding-right:1%;
  padding-left:1%;
  color: #B22222;
  font-family: nexa-bold;
}

.content-header#main-header {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.content-text {
  background-color: rgba(0,0,0,0.4);
  padding-right:1%;
  padding-left:1%;
  padding-top:1%;
  padding-bottom:1%;
  font-size: 20px;
  color: #fff;
}

.logo-image {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  margin-bottom: 2px; 
}

.p-link {
  color: #fff;
  text-decoration: none;
}